.heading
{
    width: 100%;
    size: 150px!important;
}

canvas
{
    border-style: ridge;
}

.heading button
{
    float: right;
}

footer
{
    background-color: gray;
    width: 100%;
    color: white;
}